body{

   background: radial-gradient(#201422 2px,transparent 2px);
   background-color: #130715;
   background-size: 35px 35px;
   margin: 0px;

}



.main{

   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hideden;

}



.glitch{

   position: absolute;
   width: 100%;
   height: 40%;
   top: 0px;
   left: 0px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 500px;
   opacity: 0.9;

}




img{

  position: absolute;
  top: 35%;
  left: 6%;

}


.text{


   font-family: 'Doppio One';
   font-size: 17px;
   color: white;
   letter-spacing: 4px;
   word-spacing: 10px;
   line-height: 30px;
   position: absolute;
   top: 50%;
   left: 6%;
   right: 6%;
   z-index: 9999;

}



.link{

   text-decoration: none;
   font-family: 'Doppio One';
   font-size: 23px;
   color: #AE0F48;

}




#ytb{

  text-decoration: none;
  font-family: 'Doppio One';
  font-size: 22px;
  color: #AE0F48;

}



#src{

  text-decoration: none;
  font-family: 'Doppio One';
  font-size: 18px;
  color: #AE0F48;

}



#cnt{

  text-decoration: none;
  font-family: 'Doppio One';
  font-size: 18px;
  color: #AE0F48;

}



.hm{


   font-family: 'Doppio One';
   font-size: 20px;
   color: #AE0F48;
   letter-spacing: 2px;
   position: absolute;
   top: 95%;
   left: 89%;
   border: 2px solid #AE0F48;
   padding: 10px;
   transform: translate(-50%,-50%);
   z-index: 9999;
}
